@font-face {
  font-family: "Raleway--regular";
  src: url("../../assets/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway--light";
  src: url("../../assets/fonts/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway--medium";
  src: url("../../assets/fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway--bold";
  src: url("../../assets/fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: var(--primary-font-regular), sans-serif;
  background-color: #202124;
  background-image: url("../assets/images/notebook.png");
  color: #fff;
  overflow-x: hidden;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  background-color: #202124;
}
.menu__logo {
  font-size: 4rem;
}
.menu__logo .fa-sticky-note {
  color: #fbbc04;
  padding: 0.25em;
}
.menu__datebox, .menu__buttons {
  padding: 1em;
}
.menu__datebox {
  display: flex;
  gap: 1em;
}
.menu__date, .menu__time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.menu__date i, .menu__time i {
  color: #fbbc04;
  font-size: 2.6rem;
}
.menu__date span, .menu__time span {
  font-size: 1.6rem;
}
.menu__date span {
  width: 80px;
}
.menu__time span {
  width: -moz-fit-content;
  width: fit-content;
}
.menu__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.menu__button {
  padding: 0.5em;
  border: 2px solid transparent;
  border-radius: 0.25em;
  background-color: inherit;
  color: #eee;
  font-size: 1.8rem;
  cursor: pointer;
  font-family: var(--primary-font-medium), sans-serif;
}
.menu__button--add:hover {
  color: #fbbc04;
}
.menu__button--delete {
  color: #c62828;
}
.menu__button--delete:hover {
  color: #7c1818;
}
.menu__button:focus {
  outline: none;
  border: 2px solid #fbbc04;
}

.search-box__form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  gap: 0;
  padding: 1em;
  background-color: #202124;
}
.search-box__form-icon {
  padding: 1em;
  border: none;
  border-radius: 0.25em 0 0 0.25em;
  background-color: #fbbc04;
}
.search-box__input {
  width: 90%;
  padding: 0.75em;
  border: 2px solid #eee;
  border-radius: 0.25em;
  background-color: inherit;
  color: #eee;
  font-size: 1.8rem;
  font-family: var(--primary-font-medium);
  max-width: 500px;
  border-color: #5f6368;
  border-radius: 0;
}
.search-box__input:focus {
  outline: none;
}
.search-box__button {
  padding: 0.5em;
  border: 2px solid transparent;
  border-radius: 0.25em;
  background-color: inherit;
  color: #eee;
  font-size: 1.8rem;
  cursor: pointer;
  padding: 0.75em;
  border: 2px solid #5f6368;
}
.search-box__button--clear {
  border-left: none;
  border-radius: 0 0.25em 0.25em 0;
  position: relative;
  transition: background-color 200ms ease-in-out;
}
.search-box__button--clear::before, .search-box__button--clear::after {
  --scale: 0;
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%) translateY(0) scale(var(--scale));
  transition: transform 200ms ease-in-out;
}
.search-box__button--clear::before {
  content: attr(data-tooltip);
  width: -moz-max-content;
  width: max-content;
  padding: 0.5em;
  background-color: #5f6368;
  font-size: 1.4rem;
  border-radius: 4px;
}
.search-box__button--clear:hover {
  background-color: #141516;
}
.search-box__button--clear:hover::before {
  --scale: 1;
  transform: translateX(-50%) translateY(50%) scale(var(--scale));
}
.search-box__button--clear:focus {
  outline: none;
  background-color: #141516;
}

.notes__container {
  display: flex;
  flex-direction: column;
  margin: 1em;
}
.notes__note {
  margin: 1em;
  background-color: #202124;
  border: 2px solid #eee;
  border-radius: 0.5em;
  padding: 1em;
}
.notes__note.hidden {
  display: none;
}
.notes__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(244, 244, 244, 0.4);
}
.notes__title {
  font-size: 1.8rem;
}
.notes__category {
  padding-top: 1em;
  font-size: 1.8rem;
}
.notes__edit-btn, .notes__delete-btn {
  padding: 0.5em;
  border: 2px solid transparent;
  border-radius: 0.25em;
  background-color: inherit;
  color: #eee;
  font-size: 1.8rem;
  cursor: pointer;
  padding: 0.15em;
  transition: color 200ms ease;
}
.notes__edit-btn:hover {
  color: #fbbc04;
}
.notes__delete-btn {
  color: #c62828;
}
.notes__delete-btn:hover {
  color: #7c1818;
}
.notes__body {
  padding-top: 1em;
  font-size: 1.4rem;
}

.notes__panel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  background-color: #202124;
  border: 2px solid #eee;
  border-radius: 0.5em;
  width: 90%;
  max-width: 500px;
  display: none;
  z-index: 1;
}
.notes__panel-title {
  margin-bottom: 0.5em;
  font-size: 3rem;
}
.notes__panel-label {
  align-self: center;
  width: 90%;
}
.notes__panel-input, .notes__panel-select, .notes__panel-text {
  width: 90%;
  padding: 0.75em;
  border: 2px solid #eee;
  border-radius: 0.25em;
  background-color: inherit;
  color: #eee;
  font-size: 1.8rem;
  font-family: var(--primary-font-medium);
  margin-bottom: 1em;
}
.notes__panel-input:focus, .notes__panel-select:focus, .notes__panel-text:focus {
  outline: none;
  border-color: #fbbc04;
}
.notes__panel-text {
  resize: vertical;
  min-height: 100px;
  max-height: 400px;
  padding: 0.5em;
}
.notes__panel-error {
  margin-bottom: 0.5em;
  color: #c62828;
  display: none;
}
.notes__panel-button {
  padding: 0.5em;
  border: 2px solid transparent;
  border-radius: 0.25em;
  background-color: inherit;
  color: #eee;
  font-size: 1.8rem;
  cursor: pointer;
  transition: color 200ms;
}
.notes__panel-button:hover {
  color: #fbbc04;
}
.notes__panel.active {
  display: flex;
}
.notes__panel.animation-in {
  animation-name: fade-in;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

.notes__shadow {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.notes__shadow.active {
  display: block;
}
.notes__shadow.animation-in {
  animation-name: fade-in;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.deletion-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  background-color: #202124;
  border: 2px solid #eee;
  border-radius: 0.5em;
  width: 90%;
  max-width: 800px;
  border-color: #c62828;
  gap: 1em;
  display: none;
}
.deletion-modal__title {
  font-size: 2rem;
  text-align: center;
}
.deletion-modal__button {
  padding: 0.5em;
  border: 2px solid transparent;
  border-radius: 0.25em;
  background-color: inherit;
  color: #eee;
  font-size: 1.8rem;
  cursor: pointer;
}
.deletion-modal__button:first-child {
  margin-right: 1em;
}
.deletion-modal__button:first-child:hover {
  color: #fbbc04;
}
.deletion-modal__button:last-child {
  margin-left: 1em;
  color: #c62828;
}
.deletion-modal__button:last-child:hover {
  color: #7c1818;
}
.deletion-modal__button:last-child:focus {
  outline: none;
  border-color: #c62828;
}
.deletion-modal.active {
  display: flex;
}
.deletion-modal.animation-in {
  animation-name: fade-in;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

.footer {
  width: 100%;
  height: 5em;
  position: fixed;
  left: 0;
  bottom: 0;
}
.footer__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 576px) {
  .menu__date span, .menu__time span {
    font-size: 2rem;
  }
  .notes__container {
    flex-direction: row;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
  }
  .notes__note {
    width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    flex-direction: row;
  }
  .menu__logo {
    font-size: 2.8rem;
  }
  .menu__datebox, .menu__buttons {
    padding: 0.5em;
  }
  .menu__date span, .menu__time span {
    font-size: 1.6rem;
  }
  .menu__date span {
    width: 70px;
  }
}
@media screen and (min-width: 992px) {
  .menu__logo {
    font-size: 3.2rem;
  }
  .menu__date span, .menu__time span {
    font-size: 2rem;
  }
  .menu__date span {
    width: 78px;
  }
}
:root {
  --primary-font-regular: "Raleway--regular";
  --primary-font-light: "Raleway--light";
  --primary-font-medium: "Raleway--medium";
  --primary-font-bold: "Raleway--bold";
}/*# sourceMappingURL=style.css.map */