@font-face {
  font-family: "Raleway--regular";
  src: url("../../assets/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway--light";
  src: url("../../assets/fonts/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway--medium";
  src: url("../../assets/fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway--bold";
  src: url("../../assets/fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: var(--primary-font-regular), sans-serif;
  background-color: #202124;
  background-image: url("../assets/images/notebook.png");
  color: #fff;
  overflow-x: hidden;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  justify-content: space-between;
  padding: 1em;
  background-color: #202124;
}
.menu__logo .fa-sticky-note {
  color: #fbbc04;
  font-size: 3.2rem;
  padding: 0.25em;
}
.menu__datebox {
  display: none;
  gap: 1em;
}
.menu__date, .menu__time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.menu__date i, .menu__time i {
  color: #fbbc04;
  font-size: 2.6rem;
}
.menu__date span, .menu__time span {
  font-size: 2rem;
}
.menu__date span {
  width: 80px;
}
.menu__time span {
  width: -moz-fit-content;
  width: fit-content;
}
.menu__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.menu__button {
  padding: 0.5em;
  border: 2px solid transparent;
  border-radius: 0.25em;
  background-color: transparent;
  color: #eee;
  font-size: 1.8rem;
  cursor: pointer;
  font-family: var(--primary-font-medium), sans-serif;
}
.menu__button--add:hover {
  color: #fbbc04;
}
.menu__button--delete {
  color: #c62828;
}
.menu__button--delete:hover {
  color: #7c1818;
}
.menu__button:focus {
  outline: none;
  border: 2px solid #fbbc04;
}

.notes__container {
  display: flex;
  flex-direction: column;
  margin: 1em;
}
.notes__note {
  margin: 1em;
  background-color: #202124;
  border: 2px solid #eee;
  border-radius: 0.5em;
  padding: 1em;
}
.notes__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(244, 244, 244, 0.4);
}
.notes__title {
  font-size: 1.8rem;
}
.notes__delete-btn {
  padding: 0.5em;
  border: 2px solid transparent;
  border-radius: 0.25em;
  background-color: transparent;
  color: #eee;
  font-size: 1.8rem;
  cursor: pointer;
  padding: 0;
  color: #c62828;
  transition: color 200ms ease;
}
.notes__delete-btn:hover {
  color: #7c1818;
}
.notes__body {
  padding-top: 1em;
  font-size: 1.4rem;
}

@media screen and (min-width: 576px) {
  .notes__container {
    flex-direction: row;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
  }
  .notes__note {
    width: 280px;
  }
}
@media screen and (min-width: 992px) {
  .menu__datebox {
    display: flex;
  }
}
:root {
  --primary-font-regular: "Raleway--regular";
  --primary-font-light: "Raleway--light";
  --primary-font-medium: "Raleway--medium";
  --primary-font-bold: "Raleway--bold";
}/*# sourceMappingURL=style.css.map */