@use "./reset";
@use "./utilities";
@use "./components";
@use "./medium";
@use "./large";

:root {
  --primary-font-regular: "Raleway--regular";
  --primary-font-light: "Raleway--light";
  --primary-font-medium: "Raleway--medium";
  --primary-font-bold: "Raleway--bold";
}