@use "../utilities" as utils;

.menu {
  @include utils.flexLayout;
  justify-content: space-between;
  padding: 1em;
  background-color: utils.$dark;

  &__logo {
    .fa-sticky-note {
      color: utils.$gold;
      font-size: 3.2rem;
      padding: .25em;
    }
  }

  &__datebox {
    display: none;
    gap: 1em;
  }

  &__date,
  &__time {
    @include utils.flexLayout;

    i {
      color: utils.$gold;
      font-size: 2.6rem;
    }
    span {
      font-size: 2rem;
    }
  }

  &__date {
    span {
      width: 80px;
    }
  }

  &__time {
    span {
      width: fit-content;
    }
  }

  &__buttons {
    @include utils.flexLayout;
  }

  &__button {
    @include utils.buttonStyles;
    font-family: var(--primary-font-medium), sans-serif;

    &--add {
      &:hover {
        color: utils.$gold;
      }      
    }

    &--delete {
      color: utils.$danger;
      
      &:hover {
        color: utils.$danger-dark;
      }
    }

    &:focus {
      outline: none;
      border: 2px solid utils.$gold;
    }
  }
}