@use "../utilities/" as utils;

.notes__panel {
  @include utils.flexLayout;
  @include utils.popupStyles;
  width: 90%;
  max-width: 500px;
  display: none;
  z-index: 1;

  &-title {
    margin-bottom: .5em;
    font-size: 3rem;
  }

  &-label {
    align-self: center;
    width: 90%;
  }

  &-input,
  &-select,
  &-text {
    @include utils.inputStyles;
    margin-bottom: 1em;

    &:focus {
      outline: none;
      border-color: utils.$gold;
    }
  }

  &-text {
    resize: vertical;
    min-height: 100px;
    max-height: 400px;
    padding: .5em;
  }

  &-error {
    margin-bottom: .5em;
    color: utils.$danger;
    display: none;
  }

  &-button {
    @include utils.buttonStyles;
    transition: color 200ms;

    &:hover {
      color: utils.$gold;
    }
  }

  &.active {
    display: flex;
  }

  &.animation-in {
    @include utils.notesPanelAnimation;
  }
}

.notes__shadow {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);

  &.active {
    display: block;
  }

  &.animation-in {
    @include utils.notesPanelAnimation;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}