@use "../utilities" as utils;

.search-box {
  &__form {
    @include utils.flexLayout;
    gap: 0;
    padding: 1em;
    background-color: utils.$dark;

    &-icon {
      padding: 1em;
      border: none;
      border-radius: .25em 0 0 .25em;
      background-color: utils.$gold;
    }
  }

  &__input {
    @include utils.inputStyles;
    max-width: 500px;
    border-color: utils.$darkgray;
    border-radius: 0;

    &:focus {
      outline: none;
    }
  }

  &__button {
    @include utils.buttonStyles;
    padding: .75em;
    border: 2px solid utils.$darkgray;

    &--clear {
      border-left: none;
      border-radius: 0 .25em .25em 0;
      position: relative;
      transition: background-color 200ms ease-in-out;

      &::before, &::after {
        --scale: 0;        

        position: absolute;
        bottom: -50%;
        left: 50%;
        transform: translateX(-50%) translateY(0) scale(var(--scale));
        transition: transform 200ms ease-in-out;
      }
      
      &::before {
        content: attr(data-tooltip);
        width: max-content;
        padding: .5em;
        background-color: utils.$darkgray;
        font-size: 1.4rem;
        border-radius: 4px;
      }

      &:hover {
        background-color: utils.$darker;

        &::before {
          --scale: 1;

          transform: translateX(-50%) translateY(50%) scale(var(--scale));
        }
      }

      &:focus {
        outline: none;
        background-color: utils.$darker;
      }
    }
  }
}