@use "../utilities" as utils;

.search-box {
  &__form {
    @include utils.flexLayout;
    gap: 0;
    padding: 1em;
    background-color: utils.$dark;

    &-icon {
      padding: 1em;
      border: none;
      border-radius: .25em 0 0 .25em;
      background-color: utils.$gold;
    }
  }

  &__input {
    @include utils.inputStyles;
    max-width: 500px;
    border-color: utils.$darkgray;
    border-radius: 0;

    &:focus {
      outline: none;
    }
  }

  &__button {
    @include utils.buttonStyles;
    padding: .75em;
    border: 2px solid utils.$darkgray;

    &--clear {
      border-left: none;
      border-radius: 0 .25em .25em 0;

      &:hover {
        background-color: utils.$darker;
      }
      &:focus {
        outline: none;
        background-color: utils.$darker;
      }
    }
  }
}